<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>
<%- include('../includes/header.ejs') %>
<section class="login-container">
  <h1>Login to Your Account</h1>

  <form action="/login" method="POST">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button class="button-46" type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">Register here</a>.</p>
</section>
<%- include('../includes/footer.ejs') %>