</main>
<footer class="footer-container">
  <p>Created by Josip Troha &copy 2023 </p>
  <a href="https://github.com/JosipTr" target="_blank" rel="noopener noreferrer"><img src="/images/github-mark.png" alt="Github Logo"></a>
  <a href="https://www.linkedin.com/in/josip-troha-79b18b228" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn Logo"></a>
</footer>
</body>

</html>