<body>
  <header class="header-container">
    <h1>Orchard</h1>
    <nav class="nav-container">
      <ul>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/about">About</a>
      </ul>

      <ul>
        <% if (email) {%>
        <a href="/#">Hello <%= email %></a>
        <% } %>
        <% if (isAuthenticated) { %>
        <a href="/logout">Logout</a>
        <% } else {%>

        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <% } %>
      </ul>
      <% if (isAuthenticated) {%>
      <a href="#"><i id="loggedIn" class="fa fa-shopping-cart"><%= cart.products.length %></i></a>
      <% } else { %>
      <a href="#"><i id="notLoggedIn" class="fa fa-shopping-cart"><%= cart.products.length %></i></a>
      <% } %>
    </nav>
  </header>
  <main class="main-container">