<%- include("../includes/head.ejs")  %>
</head>
<%- include("../includes/header.ejs")  %>
<article class="about-container">

  <section class="welcome">
    <h2>Welcome to Orchard - Your Online Fruit Market</h2>
    <p>Discover the freshest, juiciest, and most delicious fruits right at your fingertips with Orchard! We are more than just an online fruit shop; we are your virtual farmer's market, delivering the goodness of nature directly to your doorstep.</p>
  </section>

  <section class="why-orchard">
    <h3>Why Orchard</h3>
    <h2>Farm-Fresh Selection</h2>
    <p>Our fruits are sourced directly from local orchards and trusted farmers to ensure the highest quality and freshness.</p>

    <h2>Organic Goodness</h2>
    <p>We prioritize your health and well-being. That's why many of our fruits are organically grown, free from harmful pesticides and chemicals.</p>

    <h2>Convenient Delivery</h2>
    <p>No need to venture out. Sit back, relax, and let Orchard come to you. We provide hassle-free delivery services to bring the orchard experience to your home.</p>

    <h2>Wide Variety</h2>
    <p>From the classic favorites like apples and bananas to exotic delights such as dragon fruit and passion fruit, Orchard offers a diverse range of fruits to suit every taste.</p>
  </section>

  <section class="how-it-works">
    <h2>How It Works</h2>

    <ol>
      <li><strong>Browse the Orchard:</strong> Explore our user-friendly website to discover a vast selection of fresh fruits. Each product page provides detailed information about the fruit, including its origin and nutritional benefits.</li>

      <li><strong>Add to Cart:</strong> Found your favorite fruits? Add them to your virtual cart with a simple click. Our intuitive interface ensures a seamless shopping experience.</li>

      <li><strong>Secure Checkout:</strong> Once you're ready, proceed to our secure checkout. We accept various payment methods to make your transaction safe and convenient.</li>

      <li><strong>Swift Delivery:</strong> Sit back and relax as Orchard takes care of the rest. Our prompt delivery service ensures that your fruits arrive at your doorstep in optimal condition.</li>

      <li><strong>Enjoy the Orchard Experience:</strong> Unbox your fruity delights and savor the flavors of nature. Whether it's a healthy snack, a refreshing smoothie, or a vibrant fruit salad, Orchard has something for every occasion.</li>
    </ol>
  </section>

  <section class="orchard-family">
    <h2>Join the Orchard Family</h2>
    <p>Experience the joy of farm-fresh fruits delivered straight to your door. Join the Orchard family today and embark on a flavorful journey of health, taste, and convenience.</p>

    <p>Ready to get started? <a href="#">Explore the Orchard Now</a></p>
  </section>
</article>

<%- include("../includes/footer.ejs")  %>