<%- include("../includes/head.ejs")  %>
</head>
<%- include("../includes/header.ejs")  %>
<article class="home-container">

  <section class="welcome">
    <h2>Welcome to Orchard - Your Online Fruit Market</h2>
    <p>Discover the joy of sharing your thoughts and stories with the world. Join our community of writers, bloggers, and storytellers to express yourself freely.</p>
  </section>

</article>

<%- include("../includes/footer.ejs")  %>