<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/error.css">
<%- include("../includes/header.ejs") %>
<section class="error-content">
  <h1>Error 404 - Page Not Found</h1>
  <p>Oops! Looks like you've wandered off. The requested page is not available, or perhaps you've entered the wrong address.</p>
  <p>Please double-check your URL and make sure you've entered all the characters correctly. If you arrived here from a link on our site, let us know so we can fix it.</p>
  <p>In the meantime, you can return to our <a href="/">homepage</a> and explore the rest of the content. If you're having trouble or have additional questions, feel free to contact us at <a href="mailto:contact@email.com">contact@email.com</a>.</p>
  <p>Thank you for your understanding!</p>
</section>
<%- include("../includes/footer.ejs") %>