<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/error.css">
<%- include("../includes/header.ejs") %>
<section class="error-content">
  <h1>Error 500 - Internal Server Error</h1>
  <p>Uh-oh! Something went wrong on our end. We're experiencing technical difficulties, and it seems our server is having a bit of a hiccup.</p>
  <p>Our team has been notified of this issue, and we're working diligently to resolve it. In the meantime, you can try refreshing the page or coming back later.</p>
  <p>If the problem persists, feel free to contact us at [contact@email.com] and let us know about the issue. We apologize for any inconvenience this may have caused.</p>
  <p>Thank you for your patience!</p>
</section>
<%- include("../includes/footer.ejs") %>