<%- include("../includes/head.ejs")  %>
</head>
<%- include("../includes/header.ejs")  %>
<article class="home-container">

  <section class="welcome">
   <h2>products</h2>
  </section>

</article>

<%- include("../includes/footer.ejs")  %>